version: '3.8'

services:
  backend:
    build: 
      context: ./src
      dockerfile: ../Dockerfile
    ports:
      - "{{ backend_port }}:{{ backend_port }}"
    env_file:
      - .env
    depends_on:
      - db
    restart: always

  db:
    image: postgres:15-alpine
    environment:
      POSTGRES_USER: {{ db_username }}
      POSTGRES_PASSWORD: {{ db_password }}
      POSTGRES_DB: {{ db_name }}
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    restart: always

volumes:
  pgdata: